.main {
    background-image: linear-gradient(0deg, #F6F2FF, #F6F2FF, #FBFAFF);
    width: 100vw;
    height: 100vh;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 574px;
    height: 264px;
    left: calc(50% - 574px/2 + 309px);
    top: 306px;
}

.head {
    width: 574px;
    height: 192px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.if1 {
    position: absolute;
    width: 573.91px;
    height: 192px;
    left: 0px;
    top: 0px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: right;

    color: #240D57;
}

.if2 {
    position: absolute;
    width: 573.91px;
    height: 192px;
    left: 0px;
    top: 2em;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    /* or 100% */

    text-align: right;

    color: #240D57;
}

.snapchat {
    position: absolute;
    width: 295px;
    height: 74px;
    left: 279px;
    top: 59px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: right;
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subheading {
    width: 521px;
    height: 56px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: right;

    color: #4F4F4F;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.img {
    position: absolute;
    width: 440px;
    height: 775.69px;
    left: calc(50% - 440px/2 - 366px);
    top: 100px;

    filter: drop-shadow(0px 0px 46.8696px rgba(0, 0, 0, 0.05));
    border-radius: 35.1522px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    position: absolute;
    width: 320px;
    height: 55px;
    left: calc(50% - 320px/2 + 436px);
    top: 622px;

    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
}

.event {
    width: 181px;
    height: 23px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}